In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
#load cities.csv into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-11-28 18:10:57,-54.8000,-68.3000,51.21,51,58,14.94
1,1,Camana,PE,2021-11-28 18:11:13,-16.6228,-72.7111,70.12,75,68,9.53
2,2,Tabou,CI,2021-11-28 18:11:14,4.4230,-7.3528,80.20,79,55,5.37
3,3,Souillac,MU,2021-11-28 18:11:14,-20.5167,57.5167,77.38,78,20,4.61
4,4,Hermanus,ZA,2021-11-28 18:11:14,-34.4187,19.2345,64.60,83,47,10.16

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Heatmap of temperature

#Get the lat and lng
locations = city_data_df[["Lat", "Lng"]]

#Get the max temp. For loop removes temps below 0 degrees as 
#gmaps will not plot negative values
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=temps, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                             weights=humidity,
                             dissipating=False,
                             max_intensity=300,
                             point_radius=4)
fig.add_layer(heat_layer)

#CAll the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                             weights=cloudiness,
                             dissipating=False,
                             max_intensity=300,
                             point_radius=4)
fig.add_layer(heat_layer)

#CAll the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                             weights=wind_speed,
                             dissipating=False,
                             max_intensity=300,
                             point_radius=4)
fig.add_layer(heat_layer)

#CAll the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("That is the maximum temperature you would like for your trip? "))

#Filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
That is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tabou,CI,2021-11-28 18:11:14,4.4230,-7.3528,80.20,79,55,5.37
3,3,Souillac,MU,2021-11-28 18:11:14,-20.5167,57.5167,77.38,78,20,4.61
11,11,Vaini,TO,2021-11-28 18:11:17,-21.2000,-175.2000,77.16,78,20,9.22
17,17,Hithadhoo,MV,2021-11-28 18:11:18,-0.6000,73.0833,81.79,74,78,15.99
18,18,Nhulunbuy,AU,2021-11-28 18:11:19,-12.2333,136.7667,77.61,83,42,0.00
19,19,Pangai,TO,2021-11-28 18:11:19,-19.8000,-174.3500,79.05,64,37,21.23
34,34,Prainha,BR,2021-11-28 18:11:23,-1.8000,-53.4800,89.74,45,100,5.75
36,36,Atar,MR,2021-11-28 18:11:24,20.5169,-13.0499,75.25,35,0,18.41
41,41,Rikitea,PF,2021-11-28 18:11:25,-23.1203,-134.9692,76.44,73,7,16.58
43,43,Avarua,CK,2021-11-28 18:07:04,-21.2078,-159.7750,75.25,73,16,1.14

In [10]:
#check for missing values
preferred_cities_df.count()

City_ID       190
City          190
Country       189
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [13]:
#replace missing string values with NaN and drop
preferred_cities_df.replace("", "NaN")
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [14]:
#Create DataFrame called hotel_df to store hotel names along with data from preferred_data_df
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2       Tabou      CI     80.20   4.4230   -7.3528
3    Souillac      MU     77.38 -20.5167   57.5167
11      Vaini      TO     77.16 -21.2000 -175.2000
17  Hithadhoo      MV     81.79  -0.6000   73.0833
18  Nhulunbuy      AU     77.61 -12.2333  136.7667
19     Pangai      TO     79.05 -19.8000 -174.3500
34    Prainha      BR     89.74  -1.8000  -53.4800
36       Atar      MR     75.25  20.5169  -13.0499
41    Rikitea      PF     76.44 -23.1203 -134.9692
43     Avarua      CK     75.25 -21.2078 -159.7750

In [15]:
#Set parameters to search for a hotel
params = {"radius": 5000,
         "type": "lodging",
         "key": g_key}

In [17]:
#Iterate through the Datframe
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #Use the seach term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tabou,CI,80.20,4.4230,-7.3528,hotêl doufoulougou
3,Souillac,MU,77.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
11,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
17,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
18,Nhulunbuy,AU,77.61,-12.2333,136.7667,East Arnhem Real Estate
19,Pangai,TO,79.05,-19.8000,-174.3500,Ha'apai Beach Resort
34,Prainha,BR,89.74,-1.8000,-53.4800,Casa Rocha
36,Atar,MR,75.25,20.5169,-13.0499,Oumou Elghoura
41,Rikitea,PF,76.44,-23.1203,-134.9692,People ThankYou
43,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Create the info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))